[2015-11-25 15:20] adriatic opened #2 "Spelling error"
Aurelia's ~~Platfrom~~ Platform Abstraction Layer

[2015-11-25 15:23] EisenbergEffect commented on #2
Got it. Thanks!

[2015-11-25 15:23] #2 closed

[2015-12-09 19:34] unional opened #3 "Possibility to take AggregateError to `aurelia-exception` or something more generic?"
Hi @EisenbergEffect,

`AggregateError` is more generic than `pal` and I would suggest to put it further down to a lower level module.
`dependency-injection` currently depends on `pal` because of it.
While `pal` is fairly generic, it still comes with specific ideology such as those in the `Dom` interface.

I want to use the `dependency-injection` module for my application but want to avoid getting

[2015-12-09 19:38] #3 closed

[2015-12-09 19:39] EisenbergEffect commented on #3
It's generally not considered a best practice to have modules that are so fine-grained as to include only one function. So, we aren't going to do that.

However, if you want to use DI you can still do that. The PAL only defines "interfaces". There isn't really any code in there. The implementation is in pal-browser, which you don't need to use DI.

[2015-12-09 19:39] unional commented on #3
Please ignore, as `metadata` also relies on `pal` because of `PLATFORM`. Maybe it's too much to ask. :)

Keep up the good work. :+1:

[2015-12-09 19:40] unional commented on #3
Thanks! and Thanks for the quick response! :+1:

[2015-12-09 19:42] unional commented on #3
If it wasn't for specific requirement of our product, I would use `aurelia` for it. :(
`aurelia` is a well thought out framework.

[2016-01-17 19:46] jdanyow opened #5 "setTimeout / setInterval"
binding and the task queue may use setTimeout in some fallback scenarios.  Should we add these methods to the PAL?  Also: http://stackoverflow.com/questions/34841734/how-to-abstract-away-the-usage-of-browsers-window-object/34842796

[2016-01-17 20:20] EisenbergEffect commented on #5
Yes. I can merge that as soon as we have the PR
On Jan 17, 2016 2:46 PM, "Jeremy Danyow" notifications@github.com wrote:

[2016-02-02 01:35] davidbfrogman opened #6 "Phantom JS errors out on aureliaPal.PLATFORM.performance.now"
Error Message:
phantom stdout: TypeError: 'undefined' is not an object (evaluating '_aureliaPal.PLATFORM.performance.now')

I'm trying to run prerender.io locally.  Which I have for the most part figured out, and is almost working.  Prerender.io spins up phantom.js instances to render the page.  It actually gets pretty far, but then it always manages to fail here.  In other situations like this, I

[2016-02-02 01:57] EisenbergEffect commented on #6
@jdanyow Can you check on this?

[2016-02-02 02:24] davidbfrogman commented on #6
Thinking about this more.  Running Prerender locally is actually pretty simple.  That might be the easiest way to look at, and reproduce this error locally.

https://github.com/prerender/prerender

I haven't tried running it on a blank skeleton app, but I'd be curious to know if there's just something interesting about my application that's different.

[2016-02-10 22:53] davidbfrogman commented on #6
Is there any progress here?

[2016-02-11 01:34] jdanyow commented on #6
hi @davidbfrogman- you'll need to polyfill performance.now in browsers that don't have it.

Google bot and others probably aren't doing a good job speed testing their site because at the moment the document loads or is "ready" there are still things going on in the micro-task-queue (promise chains, etc).  Do any of these tools offer some sort of "hook" where you can tell them that the app is rende

[2016-02-11 03:29] davidbfrogman commented on #6
Yeah I'll try and do that.

You can see my other struggles and victories in this: https://github.com/aurelia/framework/issues/310

I'll let you know how that works out in a few days when I can get back to this.

[2016-04-13 02:17] #6 closed

[2016-04-18 05:11] behzad888 opened #9 ".d.ts build"
In some Aurelia libraries when build and generate .d.ts, sometimes observed duplicate comments.

like:
[Line42](https://github.com/aurelia/pal/blob/master/dist/aurelia-pal.d.ts#L42) and [Line45](https://github.com/aurelia/pal/blob/master/dist/aurelia-pal.d.ts#L45)

[2016-04-18 12:33] EisenbergEffect commented on #9
@cmichaelgraham Please look into this.
On Apr 18, 2016 1:11 AM, "behzad abbasi" notifications@github.com wrote:

[2016-04-30 05:26] gbouteiller opened #11 "cancelAnimationFrame"
Hi guys,
First of all, congratulations for the amazing job done.
I'd like to know as requestAnimationFrame is already available if it is possible to add cancelAnimationFrame.
Thank you very much

[2016-04-30 12:41] EisenbergEffect commented on #11
@jdanyow We don't actually have this in our polyfills do we?

[2016-04-30 12:52] gbouteiller commented on #11
Hello Rob,
I'm taking the liberty to speak for Jeremy as he asked me to create the issue ;).
Thank you again

[2016-04-30 23:58] jdanyow commented on #11
@EisenbergEffect we don't have rAF or cAF in the aurelia polyfills- folks supporting IE9 pull in a separate polyfill like https://www.npmjs.com/package/raf

[2016-05-17 15:41] EisenbergEffect commented on #5
Any opportunity to submit a PR for this @jdanyow ?

[2016-06-03 18:54] EisenbergEffect commented on #9
This has been fixed and we'll be updating shortly.

[2016-06-03 18:54] #9 closed

[2016-06-03 18:55] EisenbergEffect commented on #11
@jdanyow Would you be willing to update the docs on bootstrapping older browser to include information on how to configure this?

[2016-06-03 18:56] EisenbergEffect commented on #5
@jdanyow Will you have a chance to PR this before RC?

[2016-06-03 19:11] doktordirk commented on #5
there is though allready PLATFORM.global.setTimeout etc

[2016-06-10 00:20] MaximBalaganskiy opened #12 "aurelia-pal.d.ts is missing"
`aurelia-pal.d.ts` is missing from module specific folders

[2016-06-10 01:02] EisenbergEffect commented on #12
We switched to using the typings filed in the package.json, since that's the way that TS recommends handling this. We're troubleshooting now. Are you having compilation issues?

[2016-06-10 01:05] MaximBalaganskiy commented on #12
I did `jspm update` which brought the fresh `aurelia-pal` and removed the `d.ts` file from `jspm_packages` folder

[2016-06-10 01:07] MaximBalaganskiy commented on #12
I tried then copying the `d.ts` file from github and it doesn't work because it doesn't declare any modules

[2016-06-10 01:15] EisenbergEffect commented on #12
Yes, it's now using the correct format for the typings configuration of the package.json which can be picked up automatically by TypeScript. For the moment, just `npm install aurelia-pal`. That should fix the issue. We'll continue to investigate a better way to handle this for jspm users. We're discussing it now...

[2016-06-10 01:25] MaximBalaganskiy commented on #12
Unfortunately, it does not fix it. VS still cannot find module `aurelia-pal`. Moreover, it adds more issues because I have to now include `node_modules` in `tsconfig.json` which has lots of other unneeded `d.ts` files

[2016-06-10 01:31] EisenbergEffect commented on #12
You definitely should not include the node modules in your tsconfig.json. That's not how it's supposed to work. TS tooling should pick up the d.ts file automatically because it's defined in the package.json. You may need to comfigure your copmiler differently.

@niieani Can you advise? This is a jspm user that lost d.ts files for pal with today's update. We need to have a nice solution for them.

[2016-06-10 01:35] MaximBalaganskiy commented on #12
I'm using TS 1.8. This is my current `tsconfig.json`

[code]

Is there anything else I need to add?

[2016-06-10 01:57] dkent600 commented on #12
"jspm install" doesn't fix the issue for me either.  still no d.ts.

[2016-06-10 01:58] MaximBalaganskiy commented on #12
@dkent600 the workaround is `npm install aurelia-pal` but it does not work either. Might be a tooling problem in VS

[2016-06-10 02:40] dkent600 commented on #12
yeah, `npm install aurelia-pal` doesn't work either, for me

[2016-06-10 03:09] jsobell commented on #12
It also breaks `typings`:

[code]

[2016-06-10 03:13] EisenbergEffect commented on #12
Update typings to latest and `typings install aurelia-pal`. This is the correct way to handle typings going forward if you aren't using npm for modules. If you are using npm, it should work automatically. @niieani can provide an explanation when he wakes up :)

[2016-06-10 03:18] MaximBalaganskiy commented on #12
Sorry, it's not over yet :)

[code]

Also, typings fetches 1.2.2 version of d.ts

[2016-06-10 03:20] EisenbergEffect commented on #12
Check to make sure you don't have a hard-coded typings info somewhere. We just tested this on two separate machines and OSes.

[2016-06-10 03:21] MaximBalaganskiy commented on #12
the error comes from `aurelia-framework@1.0.0-beta.1.2.5/aurelia-framework.d.ts` installed in `jspm_packages`

Typings are wrapped like this

[code]

[2016-06-10 03:48] MaximBalaganskiy commented on #12
If i replace `export * from 'aurelia-pal';` with `export {DOM} from 'aurelia-pal';` in `aurelia-framework.d.ts` - no errors

[2016-06-10 10:33] jsobell commented on #12
So to clarify things, we're either all doing something fundamentally wrong, or it doesn't work.
If we move the typings.json entry from `globalDependencies` to `dependencies` the typings will install, but unless the library is either excluded completely (which is what I do) or the \* is replaced with {DOM} (for those who need the DOM object) it just doesn't work.
The fact the latest webpack-loader

[2016-06-10 10:44] EisenbergEffect commented on #12
As stated on this week's blog announcement, we are pushing out pre-rc updates this week which may cause breaking changes. So, we advise you not to update unless you want to deal with that.

The release process involves configuration changes which have to be made incrementally. This is why we only pushed out `pal` rather than a bunch of libraries. We need to test how this works in a number of scena

[2016-06-10 11:02] heruan opened #13 "Missing d.ts file in jspm install"
In beta.1.3.0 the `.d.ts` file is missing from the JSPM installation.

[2016-06-10 11:14] EisenbergEffect commented on #13
It's purposefully removed. See the existing thread involving our migration to the Microsoft-recommended d.ts strategy. Don't update between now and the RC if you don't want to get broken. It's an incremental update process on our end so it takes time to get it all out.

https://github.com/aurelia/pal/issues/12

[2016-06-10 11:14] #13 closed

[2016-06-10 12:45] heruan commented on #13
That's great! I'll follow the other thread, I had missed that.

[2016-06-10 15:47] jbeacham commented on #12
I am getting the same errors as @jsobell and @MaximBalaganskiy. I am having to change \* to {DOM} or exclude the library for it to work with aurelia-framework.

[2016-06-10 15:49] niieani commented on #12
Please see the following comment and follow the instructions to fix this problem:

https://github.com/aurelia/skeleton-navigation/issues/477#issuecomment-225183072

[2016-06-10 15:50] EisenbergEffect commented on #12
We have a fix coming soon. It's related to a change in d.ts file format. The change we are making is actually per Microsoft's recommendations. However, since not all file formats have been changed yet, there are some conflicts (the process is tedious and takes some time.) @niieani is working to update kits so that other developers aren't affected during this in-between time. He's left instructions

[2016-06-10 15:51] EisenbergEffect commented on #12
We'll keep this issue open for now as a reference for anyone else that has these problems.

[2016-06-13 17:23] dkent600 commented on #12
Is there an up-to-date list of aurelia modules requiring "npm install" rather than "jspm install" (the former was recommended above, and worked for me to get aurelia-pal working)?

[2016-06-13 18:09] niieani commented on #12
@dkent600 you don't need any aurelia modules installed with `npm install` when using JSPM. Just use [this typings.json](https://github.com/niieani/skeleton-navigation-typescript/blob/2d2800264083609af698e1fc343dc8928948a4fe/skeleton-typescript/tsconfig.json) and run `typings install`.

[2016-06-13 18:21] #12 closed

[2016-06-16 10:20] jsobell opened #14 "Missing d.ts file in most libraries"
I'm not sure where to post this issues, as it applies to most of the new distros, but since it first appeared in this module I'll post it here.
We've been through the drama about what happened to `aurelia-pal.d.ts`, but the problem exists in most of the new distros, and I think it's quite a simple fix.
I know Microsoft recommend adding the typings attribute to the package.json, and NPM changes its

[2016-07-04 03:27] EisenbergEffect commented on #5
I think we can forgo this for the immediate future. If we have an issue, we can add it later.

[2016-07-04 03:27] #5 closed

[2016-07-06 14:03] #11 closed

[2016-07-09 05:27] EisenbergEffect commented on #14
All repos now use the typings field which is picked up automatically by any npm-based system such as Webpack and the CLI. We also provide the typings.json file so that the typings tool can be used for all other scenarios.

[2016-07-09 05:27] #14 closed

[2016-07-13 13:47] alexisargyris opened #15 "pal implementation for web/service workers"
Following [this ](http://stackoverflow.com/questions/38290142/error-reflect-definemetadata-while-trying-to-load-a-transient-web-worker) discussion you may want to consider a PAL implementation specifically for web workers.

The requirement came up while trying to decorate a worker's class as transient.

[2016-07-13 13:48] EisenbergEffect commented on #15
Yes, absolutely. It's not at the top of our list, but if someone from the community wants to start in on it, we'd be glad to help them along.

[2016-11-30 19:22] niieani opened #17 "Proposal: PLATFORM.bundle / moduleIdFor"
Currently, there is no way for tooling to statically generate a list of dynamically loaded modules (i.e. loaded through any of the aurelia-loaders). This means that to bundle properly we've got to maintain this list manually, outside of the source-code, and it's a different list for each bundler:

- the CLI has got the `aurelia.json` file
- JSPM has got the config.js generated from `package.json`

[2016-12-01 04:42] EisenbergEffect commented on #17
I like this. I'm wondering about the api name being `bundle` which doesn't seem quite right since it's a module id. If we can tweak that a bit, I think I'd say "go for it".

[2016-12-01 12:07] niieani commented on #17
Yeah, I'm not sure about the API name either, `bundle()` is pretty much a placeholder.

Some alternatives I came up with:

- `PLATFORM.bundle('some-module')`
- `PLATFORM.moduleIdFor('some-module')`
- `PLATFORM.getModuleId('some-module')`
- `PLATFORM.normalize('some-module')`
- `PLATFORM.id('some-module')`
- `PLATFORM.module('some-module')`

But I'd love some more / better ideas.

[2016-12-01 18:48] stoffeastrom commented on #17
[mdn](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Statements/import) is referring it as `module-name` so another alternative

`PLATFORM.moduleName('module-name')`

[2016-12-01 22:40] EisenbergEffect commented on #17
Great reference there. Back in the require.js days I think the term was moduleId, which is what we used in Durandal and then was inherited in the appropriate Aurelia APIs. We could use the term `moduleName` in the new PAL API and then go back and create property getter/setter aliases on all the existing APIs so that we could have consistency, if we want, without breaking anything. Thoughts?

[2016-12-01 22:54] niieani commented on #17
That sounds good, Rob. I'll go ahead and start working on the implementation using the `moduleName` function, so that we'll be able to use that for static analysis instead of the comment approach in the new experimental Webpack skeleton. I think it'll be better to start using this, so there will be no need for any migrations down the line.

Later on we can alias `moduleName` to `moduleId` in other

[2016-12-01 22:59] niieani commented on #17
Just checked, ECMAScript 2015 document actually refers to module names as [`ModuleSpecifier`](http://www.ecma-international.org/ecma-262/6.0/#sec-imports)s. But I think the MDN's `module-name` is still a better name.

[2016-12-07 05:01] EisenbergEffect commented on #15
We've got this :)

[2016-12-07 05:01] #15 closed

[2016-12-07 16:04] itsnatscott opened #19 "Error invoking SVGAnalyzer"
SUPPORT REQUESTS/QUESTIONS:

**I'm submitting a bug report**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Linux , Ubuntu(14.04)

* **Node Version:**
7.0.0

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
Webpack 2.1.0-beta.22
on Application, neither webpack nor jspm on the components library

* **Browser:**
all | Chrome XX | Firefox

[2016-12-08 03:32] EisenbergEffect commented on #19
Is this coming from inside a test? It looks like you haven't initialize the PAL in the testing environment. Can you provide some more info?

[2016-12-08 03:32] #19 closed

[2016-12-08 13:55] itsnatscott commented on #19
No they are real Aurelia components living in a separate repo. We have the repo npm linked to our Aurelia app. I need to get the components to use the same instance of Aurelia as our app.

[2016-12-09 02:28] EisenbergEffect commented on #19
I'm having a hard time understanding what the setup is. How are you "running" the components outside of the app? On a related note, please update your Aurelia libs to make sure it's not something we fixed. We had a bunch of releases today.

[2016-12-11 23:45] jods4 commented on #17
I'm just seeing this... I will think about it some more but my first impressions:

1. Annotating the code to be able to precisely trace dependencies is a daunting task for existing projects.
If you want to split your app in several chunks, I guess that you need to be able to trace each file's dependencies and hence there is probably no other way.
But for small to medium-sized apps that ship everyt

[2016-12-12 06:33] niieani commented on #17
@jods4 you'll be able to achieve 1 using conventional-loader, without the ugly comments, by defining the regex explicitly in the Webpack config.

As for 2, renaming and template strings can be added in the future, after we discuss this further. For now, let's just get this out so that people can start using it.

[2016-12-12 09:48] jods4 commented on #17
@niieani I have mixed feelings about 2.

On one hand many people including myself would like to use webpack, so getting this out is important.

On the other hand, this feels rushed and not mature enough. It's at least the 3rd iteration (that I know of) in a relatively short amount of time. When this is out, some users will start sprinkle `PLATFORM.moduleName(...)` all over their code. It takes tim

[2016-12-12 20:14] niieani commented on #17
@jods4 I disagree. `PLATFORM.moduleName(...)` should be the simplest possible API. The [second, optional parameter](https://github.com/aurelia/pal/pull/20/files) of the `moduleName` function is an object, so we can extend that object's functionality to anything we like in the future.

But the core functionality, which is statically resolving module names should just be that. So to me, that part of

[2016-12-12 20:28] jods4 commented on #17
@niieani I'm not trying to over-engineer. In fact I think the current webpack setup _is too complicated_ in several ways.

Two things I'm currently thinking about are:
(a) do we _really_ need an Aurelia abstraction for that? Why re-invent something that is already natively supported? If I have to instrument my router, I can do so today without this plugin, with better build perf.
(b) and probably

[2016-12-12 20:38] itsnatscott commented on #19
Thank you for your patience,
I mocked up a simplified version of the issue using aurelia-skeleton
https://github.com/itsnatscott/binding-issue.

[2016-12-12 20:56] niieani commented on #17
@jods4

To address your concerns:

I agree. This proposal is part of [the solution](https://github.com/aurelia/skeleton-navigation/pull/714) to this problem. With it we won't need to manually specify build resources inside `aurelia.build.resources`, it's been a headache, a source of problems and can be made redundant or unnecessary.

Also, please keep in mind that that this is not a Webpack-specif

[2016-12-12 23:04] jods4 commented on #17
I had an interesting discussion with @niieani in gitter, so I'll sum up some of our discussion so that others can benefit from the information as well. There might be a few things slightly out of topic for this issue but I think it's still interesting.

---

1. Aurelia really wants some standard way to declare dynamic dependencies (e.g. routes, global resources, dynamic views) so that an Aurelia l

[2016-12-13 06:32] niieani commented on #17
Thanks @jods4 for the nice summary. It will be helpful in writing the guide explaining both this proposal and new skeleton in a future blog post.

[2016-12-13 07:08] atsu85 commented on #17
@jods4

If You propose shortcut for  `PLATFORM.moduleName(` because You are afraid that You'll make a typo in writing it out, then this is where TypeScript compiler will produce a compile-time error (if You use TypeScript instead of Babel). So I probably won't miss a shortcut for the method call.

[2016-12-13 10:10] jods4 commented on #17
@atsu85 no, I was proposing that a call to `globalResources()` is considered as a dynamic dependency the same way `PLATFORM.moduleName` is.

The "work" referred to adding the annotation when it could be inferred and the "error-prone" referred to forgetting to do so/missing an existing call in a large existing app.

BTW I am a TS user 100%, with all the safety options turned on.

[2016-12-21 13:36] itsnatscott commented on #19
I guess from your lack of response that I am pretty off target here?

[2016-12-21 19:31] EisenbergEffect commented on #19
I was on vacation.

[2016-12-21 19:31] EisenbergEffect commented on #19
@jdanyow Can you look into this?

[2016-12-21 19:37] jdanyow commented on #19
@itsnatscott does the issue reproduce when you manually copy the components into your app's node modules folder (instead of `npm link`)?

[2016-12-22 16:35] itsnatscott commented on #19
@EisenbergEffect @jdanyow Thanks for looking into this!
If I copy directly into node modules the SVGAnalyzer error doesn't occur, but the component does not get the bound data either.

[2016-12-28 04:46] jasonbiondo commented on #17
@niieani @EisenbergEffect Any update on this?  It seems it's been dead in the water for a few weeks.  @jods4 has it working nicely on his repo.

[2016-12-28 04:48] EisenbergEffect commented on #17
The API has already been merged into PAL. I believe that @niieani is still working on the Webpack plugins that use it. We're working with @jods4 to build the solution.

[2016-12-28 04:51] jasonbiondo commented on #17
@EisenbergEffect I have also been talking with @jods4 about this feature and before I attempted to bake in his solution, I wanted to check with @niieani and see where he is with this.  If it's not going to be ready any time soon, I'll start migrating @jods4 code into my build.

[2016-12-28 15:14] niieani commented on #17
Some unexpected work came up on my side, so I had less time to finalize this.

I think joining forces with @jods4 is a good idea, since it will allow for faster development, especially when one of us is unavailable. @jods4 also had some good ideas. I already spoke with him about it and I'd like to ask @EisenbergEffect to approach him too, whenever possible.

[2017-01-13 21:59] jods4 opened #21 "Dynamic Aurelia dependencies"
This is a meta-issue to track progress across all Aurelia repos.

In #17 it was decided that using `PLATFORM.moduleName()`, exported from `aurelia-pal` was the way to document dynamic dependencies consumed by the aurelia loader.
The function has been added with da92298.

To follow up on that, it must now be used in every aurelia module that has dynamic imports.
Here's a checklist of _all_ modules

[2017-01-14 09:18] EisenbergEffect commented on #21
The main location is going to be the bootstrapper, I think.

[2017-01-14 09:49] niieani commented on #21
Regarding your question, I think we took a shortcut in that we put most of the `aurelia.build.resources` in the bootstrapper package, instead of the respective packages. There aren't many dynamic requires throughout Aurelia, so this should be a pretty simple task.

[2017-01-14 20:22] jods4 commented on #21
I managed to get my demos running _without_ using `aurelia.build.resources`. I did not modify aurelia modules yet, instead I used a plugin of mine to introduce the dependencies I wanted in my build, like so:
[code]

Most of it will be trivial enough, e.g. `templating-resources` or `templating-router`.

But I think we need to have chat about `bootstrapper` and `framework`. The culprit is that those

[2017-01-15 08:34] niieani commented on #21
I don't think there's any use case for having more than one PAL bundled. In some cases you might want to have a separate bundle for `pal-worker`, but it would still only contain that one PAL.

[2017-01-15 10:10] jods4 commented on #21
@niieani Yes, that's what I'm saying. But the problem is that choosing which one is included must be done at build time and can't be declared inside `aurelia-bootstrapper`.

My thinking for `aurelia-bootstrapper` is:
- the convoluted syntax used to import `aurelia-loader-webpack` is automatically picked up -> no change;
- the PAL must be decided by the build tool and should not be wrapped with `mo

[2017-01-15 13:11] jods4 commented on #17
I bumped into an issue with the plugin that walks `PLATFORM.moduleName` expressions.
It works great in code that uses ES modules, but when transpiled to other systems, e.g. commonjs, the code becomes:
[code]

So basically, I've had to accept any occurrence of `xxx.PLATFORM.moduleName()` in addition to just `PLATFORM.moduleName()`.

[2017-01-15 14:05] jods4 commented on #21
What is `bootstrapper-webpack`?
Despite its name I don't use it in my webpack builds...

[2017-01-16 10:06] jods4 commented on #17
@niieani @EisenbergEffect
We need to discuss the first API extension of `moduleName`...

Right now the webpack plugin supports:
- `moduleName('mid')`, which defines a module id for consumption by `aurelia-loader`;
- `moduleName('mid', 'chunk')`, which does the same but creates a split point, allowing `mid` to be loaded and executed only when required.

The extension plan is `moduleName('mid', { op

[2017-01-16 18:33] EisenbergEffect commented on #17
That sounds like a reasonable api to me.

[2017-01-17 17:59] niieani commented on #17
I agree, this is a good addition @jods4 and can potentially be consumed by other build systems (e.g. rollup). I say we go ahead and add this. We can think of deprecating this in Aurelia 2.0 if we rework module loading a little bit, but for now this seems acceptable. 👍

[2017-01-17 18:06] niieani commented on #21
@jods4 `bootstrapper-webpack` was the webpack-specific bootstrapper code, which we will be deprecating soon, because we managed to get together a universal `aurelia-bootstrapper` with build-system detection for all our use cases (hence the "convoluted syntax" - its the only one that does not trip up SystemJS, RequireJS and works with Webpack when needed by not adding extraneous dependencies).

You

[2017-01-17 21:12] jods4 commented on #21
From the discussion with @EisenbergEffect, I won't add `moduleNames` for basic configurations. Rather, the build tooling will propose equivalent default configs that you can pick from.
The default will include everything so that it "just works", and then people can remove pieces that they don't use if they want a minimal size.

A "custom" configuration happens in user code, which means `moduleName

[2017-01-18 10:05] niieani commented on #21
Sounds good.

[2017-01-19 02:30] jods4 commented on #21
OK, I have 4 PR open referencing this request.
As you can see in the checklist this covers all "core" aurelia modules and is enough to be able to build an app that doesn't use optional modules without any extra manual dependencies.

(well, considering that the default extra dependencies are added by the build tool, as described above)

[2017-01-19 19:32] niieani commented on #21
Reviewed all. Great comment work, looking good to me!

[2017-01-20 00:26] jods4 commented on #21
Thanks @niieani, can someone merge them? They're relatively trivial.

@EisenbergEffect I've looked at almost all modules (see the checklist). Would be nice to get help for the remaining ones.
I am pretty sure the following modules need changes:
- `dialog`
- `validation`
- `html-import-template-loader` (it fetches `webcomponentsjs/HTMLImport.min` through the loader).

For the rest I don't know.

[2017-01-26 01:02] jods4 opened #22 "moduleName() vs feature()"
From my discussion with @EisenbergEffect I realized `.feature()` won't play along nicely with `PLATFORM.moduleName()`. Copy-pasting my description of the problem:

---

The idea so far was to use `PLATFORM.moduleName('frob')` to denote that the literal string `'frob'` in code is actually a module name that is a direct dependency from the current file.
This is what the webpack build uses to properl

[2017-01-26 01:12] jods4 commented on #22
And some possible work-arounds:
- Add a parameter to add or remove `/index` from the module name, like `moduleName('frob', { resolve: 'frob/index' })`. This needs good knowledge of Aurelia and is a bit ugly.
- Embed special syntax in the string `moduleName('frob(/index)')`. Similar problems, maybe less ugly.
- Recognize `.feature()` during parsing and add a special rule to automatically add `/inde

[2017-01-29 08:18] niieani commented on #22
How about we eventually deprecate and remove the `.feature()` API from Aurelia altogether?
I'm not sure it's really needed, as you can easily achieve the same with one import/function usage (within `main.js`), and requires no Aurelia-specific knowledge.

Is there a specific reason for even having `.feature()`?

CC: @EisenbergEffect

[2017-01-29 21:12] EisenbergEffect commented on #22
No, feature has other purposes. For example, it provides a consistent way to enable code to run configuration and setup after the core of Aurelia has started up, but before the application is rendered. Additionally, feature/plugin code can be async and the framework just handles that. This allows you to build portions of your application the same way you would external plugins and makes it easy to

[2017-01-29 21:36] niieani commented on #22
OK, thanks for clearing this up @EisenbergEffect. Sounds like a nice feature indeed, I'm not sure it was ever documented in a way which tackles the above notions (or I simply missed that). I guess we need to think of a way to support these scenarios given the use-cases you presented.

[2017-01-29 21:44] EisenbergEffect commented on #22
The lazy part isn't implemented anywhere. I think adding that is where it would get interesting.

[2017-01-30 09:27] jods4 commented on #22
@EisenbergEffect We need to decide how we want to proceed with this. The present workaround is not pretty.

If we agree on adding `featureIndex()` that takes the file directly (not necessarily named index btw) I can open a PR.

[2017-01-31 04:25] EisenbergEffect commented on #22
Why can't we keep the current method and just update the implementation to check for strings that end with `/index`? If it has that ending, it doesn't alter it. If it doesn't have that ending, it adds it like it does today.

[2017-01-31 09:56] jods4 commented on #22
Do you mean update the current `.feature()` implementation?
Yes, that's a possibility (second to last in my bullet list).

So the migration is `.feature('abc')` -> `.feature(moduleName('abc/index'))`.

Note that this is a breaking change if you have named your folder `index` and that the only work-around is terrible: `index/index/index` is translated to `index/index` which would then work. It's hi

[2017-02-01 01:10] EisenbergEffect commented on #22
Yes, update the current `feature` implementation. I think it's unlikely that someone has a folder named `index`. We could detect that potentially and issue a meaningful error message. I really doubt this will be a problem. We might want to put a deprecation info log in to get the community to start moving everything over to using `index` explicitly as well.

[2017-02-05 00:43] jods4 commented on #21
@EisenbergEffect I see that you are merging all my PR above and about to publish the new webpack tools.
It would be awsome if some Aurelia members could have a quick look and test with the items in this list that are not ticked yet.

Some might require no change at all, some might not work out of the box.

[2017-02-05 11:09] niieani commented on #21
There's a problem with `dialog` (and possibly with other external plugins) that is a bit harder to solve. See [this part of the code](https://github.com/aurelia/dialog/blob/22022bd8d25ae488d45566f509378a8813aeef7a/src/dialog-service.js#L111).

This is currently causing errors such as https://github.com/aurelia/dialog/issues/203.

In short, everything works as far as you provide a string path to th

[2017-02-05 11:50] StrahilKazlachev commented on #21
@niieani So passing VM instance is also ok since it was already loaded?

[2017-02-05 13:58] niieani commented on #21
@StrahilKazlachev if it was loaded by Aurelia, and not via an `import`, it is ok currently, and will be okay with v2 of Webpack stack.

[2017-02-05 15:03] jods4 commented on #21
@niieani I think we need to chat live about this.

To find the view, using `@useView` should be a work-around, right?

But the whole Origin thing is surely going to be broken for all classes that are not loaded through `aurelia-loader`.

[2017-02-05 15:58] niieani commented on #21
Yeah, explicitly decorating the ViewModel with `@useView` does work; not depending on the conventionally named views solves this. But currently the experience is sub-par, since it's that "sometimes" it works automatically, and sometimes it does not, and the user has no idea why.

Still, one of the nice things about Aurelia is that you don't need to use `useView` explicitly for every ViewModel.

I'

[2017-02-05 16:14] niieani commented on #21
The situation is even worse with SystemJS since there's no logic at all there.
Reference logic for `eachModule` under RJS and SystemJS [here](https://github.com/aurelia/loader-default/blob/master/src/index.js#L122-L131).

Having just looked at the [implementation of Origin](https://github.com/aurelia/metadata/blob/master/src/origin.js#L38), it seems that when origin is undefined, it is to be retri

[2017-02-06 05:44] bigopon commented on #17
It would be great to have an updated section in the doc informing end users how to create tree-shaking friendly instruction with new version

@jod @niieani

[2017-02-15 09:31] jods4 commented on #21
@niieani
Trying to make some progress here:
- I think you made protractor work with the new build, can I check it?
- Now that I added support to preserve the name of modules that are vm of views by convention, is `aurelia-dialog` ok?

@EisenbergEffect
Is `html-import-template-loader` still a thing? I vaguely remember using this when I got started with Aurelia a long while ago but never using it si

[2017-02-15 17:45] niieani commented on #21
@jods4 protractor is good since the updates that made it execute scripts synchronously. Don't remember if we published that to NPM yet or not.

Haven't retested `aurelia-dialog`  yet.

[2017-02-15 17:46] jods4 commented on #21
Checking protractor. Doesn't matter if it's published yet, just want to make sure we have everything covered.

[2017-02-15 18:07] jods4 commented on #21
Just spent some time with user mike-suggit who got his tests with Karma + Jasmine + aurelia-testing + Protractor working.

Was a bit rough because he had quite a few bad configs from existing build. But once everything was referencing the correct packages, the config properly updated, `moduleName` added where required, it all worked.

So although I did not look at it, I'm going to check that `aure

[2017-02-18 16:03] jods4 commented on #22
Closing this issue as we merged aurelia/framework#710, which adds support for `.feature('folder/index')`.

[2017-02-18 16:03] #22 closed

[2017-02-21 00:41] EisenbergEffect commented on #17
Merged into pal. Releasing update shortly.

[2017-02-21 00:41] #17 closed

[2017-02-23 15:30] jdanyow commented on #21
@jods4 - can you check validation off please- I've made the platform changes but I don't have privileges to update issues in this repo. Thanks!

[2017-02-23 15:46] jods4 commented on #21
Thanks, I checked `validation` off the list.

[2017-04-28 12:24] niieani commented on #21
@jods4 could you share how you and **mike-suggit** configured karma to work with `aurelia-testing`?

[2017-04-28 12:29] jods4 commented on #21
I don't remember, better ask @mike-suggitt directly!

[2017-06-08 10:31] AshleyGrant opened #25 "Platform.global implementation breaks Chrome Apps CSP"
**I'm submitting a bug report**

* **Library Version:**
1.3.0

**Please tell us about your environment:**
* **Operating System:**
all

* **Node Version:**
n/a

* **NPM Version:**
n/a

* **JSPM OR Webpack AND Version**
n/a

* **Browser:**
Chrome Web Apps

* **Language:**
all

**Current behavior:**
According to https://github.com/paulmillr/es6-shim/issues/301 and https://github.com/tc39/proposal-glo

[2017-06-09 04:49] EisenbergEffect commented on #25
@AshleyGrant Can you submit a PR?

[2017-08-23 21:28] khuongduybui commented on #21
It doesn't load aurelia-ux due to the ${$design} interpolation inside .css files.

[2017-08-24 19:56] jods4 commented on #21
@khuongduybui I don't think this thread is the right place, you should file an issue in `aurelia-ux` repo.

This meta-issue is to keep track of where `PLATFORM.moduleName` were added in core aurelia libraries.

What you have sounds like a loader issue and should be tracked separately.

[2017-08-24 20:34] khuongduybui commented on #21
Ah okay, thanks. I'll file the issue in ux repo instead.

[2017-12-09 08:23] bigopon commented on #21
@jods4 the `html-import-template-loader` module doesn't seem to need it. I think it can be ticked.

[2017-12-10 22:31] jods4 commented on #21
@bigopon Thanks for that! I checked it.

[2018-01-24 02:49] jonathaneckman commented on #19
This just popped up for me. It only occurs when testing local changes to `aurelia-binding` referenced with `npm link`. I am open to workarounds if you guys have a different way to test local framework changes besides `npm link`.

[2018-01-29 13:37] jaipundir opened #30 "How to remove npm and jspm from my system."
I want remove all npm and jspm from my system. so I reInstall it properly.

[2018-01-29 17:02] EisenbergEffect commented on #30
Please ask on discourse or gitter.

[2018-01-29 17:02] #30 closed

[2018-03-03 15:50] Alexander-Taran commented on #21
Et alors?
(-:

something about sprinkling moduleName all over the place
just a ping. seems almost baked.

[2018-03-03 21:52] EisenbergEffect commented on #21
Closing since I think all libs that require this have been instrumented.

[2018-03-03 21:52] #21 closed

[2018-03-11 02:41] michaelbull opened #34 "TypeScript's emitDecoratorMetadata produces client-only globals"
**I'm submitting a bug report**

* **Library Version:**
1.5.0

**Please tell us about your environment:**
* **Operating System:**
Linux F26

* **Node Version:**
8.9.4

* **NPM Version:**
5.6.0

* **JSPM OR Webpack AND Version**
webpack 3.11.0

* **Browser:**
all

* **Language:**
TypeScript 2.7.2

**Current behavior:**
I am using the `emitDecoratorMetadata` compiler option in my TypeScript applicat

[2018-03-11 22:06] EisenbergEffect commented on #34
Will this work: `constructor(element: typeof DOM.Element)` ?

[2018-03-11 22:11] michaelbull commented on #34
@EisenbergEffect I tried that, and it then stopped me using any methods that actually exist on the `Element` type:

[code]

My current solution is to keep the manual `@inject(DOM.Element)`, but to type the property in the class (and in the constructor), to `any` - which isn't desirable.

[2018-03-11 22:16] EisenbergEffect commented on #34
I suppose you could cast it before assigning in the constructor. Not ideal, but a little better.

[2018-03-11 22:16] #34 closed

[2018-03-11 22:19] michaelbull commented on #34
That'll do for now. Thanks @EisenbergEffect.

[2018-03-13 23:37] Alexander-Taran commented on #25
seems kinda done
https://github.com/aurelia/pal/blob/0e643f029001f5f4f4011a9f954b53dcec51c9ac/src/index.js#L235

[2018-03-13 23:46] EisenbergEffect commented on #25
@AshleyGrant Can you confirm and close if we're good?

[2018-03-25 01:35] AshleyGrant commented on #25
Looks like it is missing

`if (typeof window !== 'undefined') { return window; }`

[2018-04-17 05:33] EisenbergEffect commented on #25
Who wants to submit a PR?

[2018-06-12 04:06] EisenbergEffect commented on #25
No PR after a year, so closing.

[2018-06-12 04:06] #25 closed

[2018-06-12 13:58] AshleyGrant commented on #25
Given that Chrome Web Apps have been deprecated, I don't see any reason to fix this, so I'm fine with the closure.

[2018-07-07 12:21] ghost commented on #19
Why is this closed? The issue still exists as @jonathaneckman described it using `npm link`.